<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student not found</title>
        <link rel = "stylesheet" href ="/css/bootstrap.min.css"></link>
        <style>body{padding:0vw 0.5vw 0 0.5vw}.navbar{border-radius:0 0 5px 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}</style>
    </head>
    <body>
    	<div th:replace = "fragments/fragment :: header" ></div> 
    	<h1>Student not found</h1>
       	<h3 th:text="'NPM = ' + ${npm}">Student NPM</h3>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </body>
</html>
