<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>View All Students</title>
	<link rel="stylesheet" href="/css/datatables.min.css"/>
	<link rel = "stylesheet" href ="/css/bootstrap.min.css"></link>
	<style>body{padding:0vw 0.5vw 0 0.5vw}.navbar{border-radius:0 0 5px 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}</style>
</head>
<body>
	<div th:replace = "fragments/fragment :: header" ></div> 
	<h1>All Students</h1>
	<table id="table" class="display">
		<thead>
			<tr>
				<th>No</th>
				<th>NPM</th>
				<th>Name</th>
				<th>GPA</th>
				<th>Cum laude</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student,iterationStatus: ${students}">
				<td th:text="${iterationStatus.count}">No. 1</td>
				<td th:text="${student.npm}">Student NPM</td>
				<td th:text="${student.name}">Student Name</td>
				<td th:text="${student.gpa}">Student GPA</td>
				<td th:if="${student.gpa >= 3.49}">Ya</td>
				<td th:unless = "${student.gpa>=3.49}">Tidak</td>
				<td><a th:href="'/student/update/' + ${student.npm}">Update Data</a></td>
				<td><a th:href="'/student/delete/' + ${student.npm}">Delete Data</a></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/datatables.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#table').DataTable();
		});
	</script>
</body>
</html>
